body {
  margin: 0;
  padding: 0;
  background-color: #a5a5a5;
  position: relative;

}


/* Nav Bar CSS */

.navUl {
  margin: 15px 10px ;
  padding: 0px 45px 35px 15px;
  overflow: hidden;
  background-color: rgba(86, 56, 56, 0.932);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 20px;
  z-index: 10;
  
}

.navUl ul{
  list-style-type: none;
}


.navUl li {
  float: left;
  border-right:1px solid #bbb;
}

.navUl li:last-child {
  border-right: none;
}

.navUl li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navUl li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #185a4100;
  height: 48px;
}

.buttonCls {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 30px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: larger;
  margin: 5px 3px;
  transition-duration: 0.3s;
  cursor: pointer;
}


.button1 {
  background-color: rgb(88, 85, 85); 
  margin: 0 10px ;
  color: rgb(255, 255, 255); 
  border: 2px solid #50de13;
}

.button1:hover {
  background-color: #46fc43;
  color: rgb(20, 5, 5);
  box-shadow: 0 5px 10px 0 rgba(162, 255, 0, 0.612),0 8px 13px 0 rgba(55, 255, 0, 0.655);
}
.button2 {
  background-color: rgb(88, 85, 85); 
  margin: 0 10px ;
  color: white; 
  border: 2px solid #008CBA;
  float: right;
}

.button2:hover {
  background-color: #69b6d0;
  color: rgb(68, 40, 40);
  box-shadow: 0 5px 10px 0 rgba(133, 150, 233, 0.612),0 8px 13px 0 rgba(188, 105, 213, 0.748);
}
.button3{
  background-color: rgb(88, 85, 85); 
  margin-left: 40%;
  color: white; 
  border: 2px solid #12dd74;
}
.button3:hover {
  background-color: #21ab5d;
  color: black;
  box-shadow: 0 5px 10px 0 rgba(32, 245, 138, 0.612),0 8px 13px 0 rgba(9, 240, 125, 0.748);
}

.arrowSpan{
  font-size: 40px;
}


/* Event Dashboard CSS */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  background-color: #ffbeff1f;
  padding: 20px 100px;
}

.grid-container > div {
  padding: 20px 30px;
  border-radius: 25px;
}

.item1 {
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: 1 / 4;
}

.item2 {
  grid-column: 4 /7;

}




/* Event List Items CSS */

/* .card {
  display:block;
  width:100%;
  max-width:800px; */
  .listItemTr{
    border-color: 2px solid #111;
  }

img {
    border-radius: 50px;
    width: 70%;
    height: auto;
  }

.btnListItem{
  padding: 6px 15px;
  border: none;
  border-radius: 15px;
  background-color: rgb(9, 9, 236);
  color: white;
  font-size: larger;
  margin-right: 15px;
}
  
  /* .innerLeft {
    display:inline-block;
    margin-right:-4px;
    vertical-align:top;
    width:30%;
    text-align:center;
    padding:5px;
  }
  .innerRight {
    display:inline-block;
    vertical-align:top;
    width:70%;
    text-align:left;
    padding:5px;
  }
  .card-text {
    display:inline-block;
  }

} */


.eventForm{
  padding: 10px;
  background-color: #b2e6f7;
  border-radius: 25px;

}

.eventInputCls {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  border-radius: 25px;
}
.eventInputClsDt {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  border-radius: 25px;
}

.eventFormSubmit{
  margin: 5px 10px;
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  background-color: rgb(9, 9, 236);
  color: white;
  font-size: larger;
  float: right;
}

.eventFormCancel{
  margin: 5px 10px;
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  background-color: rgb(46, 123, 103);
  color: white;
  font-size: larger;
  float: right;
}



.dropdown {
  position: relative ;
  display: inline-block;
  color: rgb(0, 0, 0);
  background-color: #12dd74;
  float: right;
  margin: 10px;
  padding: 10px 15px;

}

.dropdown-content {
  display: none;
  position: absolute ;
  background-color: #84ff99;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 11;
  margin-top: -45px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Grid Two For Event List Item Page */

.item11 { grid-area: menu1; }
.item22 { grid-area: menu2; }
.item33 { grid-area: menu3; }
.item44 { grid-area: right; }

.grid-container1 {
  margin: 0 100px;
  display: grid;
  grid-template-areas:
    
    'menu1 menu1 menu1 menu1 right right'
    'menu2 menu2 menu2 menu2 right right'
    'menu3 menu3 menu3 menu3 right right';
  gap: 30px;
  background-color: #ffffff00;
  padding: 10px;
}

.grid-container1 > div {
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  font-size: 30px;
} 

.item11 {
  background-color: rgba(255, 255, 255, 0.8);

}

.item22{
  background-color: rgba(255, 255, 255, 0.8);

}

.item33 {
  background-color: rgba(255, 255, 255, 0.8);

}

.item44{
  background-color: #00000000;
}


/* Event Detailsed Holder CSS */

.card1 {
	position: relative;
  transition: all .5s ease-in;

}


.card1__image {
  display: block;
  width: 100%;
  height: 400px;
	/* position: relative; */


}

.card1__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background-color: #393839;
}

.card1 .card1__overlay {
  opacity: .7;
  border-radius: 50px;
}

.overlay1__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button11 {
  background-color: #53337d;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 10px 15px;
  float: right;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.button111 {
  background-color: #d093ff;
  border-radius: 25px 5px 5px 25px;
  padding: 10px 15px;
  margin: 10px 1px 0px 15px;
  float: left;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
.button112 {
  background-color: #64ff83;
  border-radius: 5px 25px 25px 5px;
  padding: 10px 15px;
  margin: 10px 1px;
  float: left;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}


/* Event Detailed Info */

.grid-container-row {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #ffffff00;
}

.grid-container-row > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 25px;
}


/* Event Detailed Chat CSS */

.grid-container-row2 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #ffffff00;
}

.grid-container-row2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 25px;
}

.imgChat {
  height: 40px;
  width: auto;
}

.txtArea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  resize: vertical;
}

.lblCls {
  padding: 12px 12px 12px 0;
  /* display: inline-block; */
}



.grid-container-row3 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #ffffff00;
  margin: 20px 10px 0px 10px;

}

.grid-container-row3 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 25px;
}







.react-datepicker-wrapper {
  width:100%;
}




/* CSS FOR LOGIN FORM MODAL */


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-weight: 900;
  font-size: larger;
}


.loginInputCls{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  border-radius: 25px;
}